@{
    Layout = "_Layout";
    ViewBag.Title = "Clientes";
}
<div layout="row" layout-align-sm="start stretch" flex ng-controller="MerakiCustomerController" flex-sm="100">
    <md-card flex layout-align-sm="start stretch">
        <md-card-title  md-colors="{'background-color':'primary'}">
            <h2><i class="fa fa-address-book"></i> Clientes</h2>
        </md-card-title>
        <md-card-content style="overflow:auto">
            <div meraki-popup-grid="grid" ng-model="customers" layout="column" layout-align="stretch">

            </div>
        </md-card-content>
    </md-card>
</div>
        @*<form class="content" layout="column" role="form" flex>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Nombre de Usuario</label>
                    <input name="Name" ng-model="filter.Name"  md-maxlength="40" md-minlength="4" />
                </md-input-container>
                <md-input-container flex="50">
                    <label>Primer Apellido</label>
                    <input name="Surname1" type="text" ng-model="filter.Surname1"  md-maxlength="40" md-minlength="4" />
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Segundo Apellido</label>
                    <input name="Surname2" type="text" ng-model="filter.Surname2" md-maxlength="40" md-minlength="4" />
                </md-input-container>
                <md-input-container flex="50">
                    <label>Email</label>
                    <input name="Surname1" type="email" ng-model="filter.Email"  md-maxlength="40" md-minlength="4" />
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <label>Fecha</label>
                    <md-datepicker ng-model="filter.Date"></md-datepicker>
                </md-input-container>
                <div flex="50" layout="row" layout-align="end center">
                    <md-button flex="none" class="md-raised" ng-click="read()"><i class="fa fa-search"></i> Filtrar</md-button>
                </div>
            </div>*@
        @*</form>*@
@section Scripts{ 
    <script src="~/app/meraki-grid/meraki-popup-grid.js"></script>
}
