@{
    ViewBag.Title = "Inicio";
}
<div layout="column" flex layout-align="center center">
    <div layout="column" layout-align="center stretch">
        <a class="md-button md-raised" href="~/Customer">
            <md-card-header>
                <h2>Clientes</h2>
            </md-card-header>
            <md-card-content md-truncate>
                Gestionar los clientes, sus datos y plantillas asignadas.
            </md-card-content>
        </a>
        <a class="md-button md-raised" href="~/Template">
            <md-card-header>
                <h2>Plantillas</h2>
            </md-card-header>
            <md-card-content>
                Gestionar las diferentes plantillas disponibles
            </md-card-content>
        </a>
        <a class="md-button md-raised" href="~/MerakiImage">
            <md-card-header>
                <h2>Imagenes</h2>
            </md-card-header>
            <md-card-content>
                Gestionar las diferentes imagenes con texto
            </md-card-content>
        </a>
        <a class="md-button md-raised" href="~/Config">
            <md-card-title>
                <h2>Configuración</h2>
            </md-card-title>
            <md-card-content>
                Gestionar la configuración de la aplicación
            </md-card-content>
        </a>
    </div>
</div>
