.meraki-menu-item{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    align-items: stretch;
}
.meraki-menu-item a{
    display: flex;
    align-items: center !important;
}
.meraki-menu-item a i {
    margin-right: .5em;
}
.nav-header img{
    width: 100%;
    height: auto;
}
html{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
#loginForm .content{
    padding: 2em;
}
[meraki-grid], [meraki-popup-grid]{
    overflow-y: auto;
}
.meraki-grid{
    border-collapse: collapse
}
.meraki-grid thead tr:not(:first-child) th{
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white
}
.meraki-grid tbody td {
    border-left: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(0,0,0,.3);
}
.meraki-grid {
    min-width: 100%;
}
.meraki-grid .md-button{
    margin: 0;
}
.meraki-grid-header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center
}
.meraki-grid tfoot td>div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em;
}
.meraki-grid md-input-container {
    margin: 0;
}
.meraki-grid md-input-container:not(.not-flex){
    display: flex;
}
.meraki-grid md-select{
    background:white;
    color: black;
}
[meraki-grid] .ngc-spinner,.meraki-spinner{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:600px){
 
    .meraki-grid-cell::before {
        content: attr(data-title);
    }
    .meraki-grid tr, .meraki-grid tfoot div{
        display: flex;
        flex-direction: column;
        align-items: stretch !important;
    }
    .meraki-grid tfoot span{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .meraki-grid tbody td {
        display: flex;
        flex-direction: row;
        padding: 0;
        border: 0 !important;
        padding-left: .2em;
        padding-right: .2em;
    }
    .meraki-grid tbody tr {
        margin: 2em 0;
        box-shadow: 1px 1px 1px black;
        background: rgb(63, 81, 181) !important;
        padding-top: .5em;
    }
    .meraki-grid tbody td:last-child{
        justify-content:flex-end;
        padding-right: 1em;
    }
    .meraki-grid-cell {
        flex: 1;
        color: white;
        border-bottom: 1px solid black;
    }
    .meraki-grid-cell-content{
        color: black;
        background-color: white;
        min-height: 1.5em;
        display:flex;
        align-items:center;
        padding-left: .3em;
        box-shadow: 1px 1px 1px black inset;
    }
    .meraki-grid tfoot div>span:first-child{
        order:1;
    }
    .meraki-grid thead tr:not(:first-child){
        display: none;
        z-index: 1000;
    }
    .meraki-grid thead tr:first-child, .meraki-grid thead{
        background-color: rgba(0,0,0,0);
    } 
    .meraki-grid thead tr:first-child .md-button {
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
    .meraki-page-button{
        display:none
    }
    md-card-title{
        align-items: center;
    }
    footer{
        display:none
    }
}
.config .title-icon{
    font-size: 2em;
}
.groupX {
    font-size: 16px;
    margin:  0 !important;
    padding: 0 !important;
    text-transform: none;
    font-weight: 400;
    height:unset!important;
    min-width: 100px;
}

.md-button.left {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid;
}

.md-button.middle {
    border-radius: 0;
    border-right: 1px solid;
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.groupX-container{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    height: unset !important;
    padding-top:.2em
}
.no-margin{
    margin: 0 !important;
}
.scroll100y {
    height: 100px;
    overflow-y: auto;
}