
<div class="meraki-toolbar">
    <div>
        <md-button class="md-raised  groupX left"  ng-click="execCommand($event,'justifyLeft')"><i class="fa fa-align-left"></i></md-button>
        <md-button class="md-raised   groupX middle" ng-click="execCommand($event,'justifyCenter')"><i class="fa fa-align-center"></i></md-button>
        <md-button class="md-raised  groupX middle" ng-click="execCommand($event,'justifyRight')"><i class="fa fa-align-right"></i></md-button>
        <md-button class="md-raised   groupX middle"  ng-click="execCommand($event,'justifyFull')"><i class="fa fa-align-justify"></i></md-button>
        <md-button class="md-raised groupX middle" ng-click="execCommand($event,'insertUnorderedList')"><i class="fa fa-list-ol"></i></md-button>
        <md-button class="md-raised   groupX middle" ng-click="execCommand($event,'insertOrderedList')"><i class="fa fa-list-ul"></i></md-button>
        <md-button class="md-raised  groupX middle" ng-click="execCommand($event,'outdent')"><i class="fa fa-outdent"></i></md-button>
        <md-button class="md-raised   groupX middle" ng-click="execCommand($event,'indent')"><i class="fa fa-indent"></i></md-button>
        <md-button class="md-raised  groupX middle" ng-click="execCommand($event,'bold')"><b>N</b></md-button>
        <md-button class="md-raised   groupX middle" ng-click="execCommand($event,'italic')"><i>C</i></md-button>
        <md-button class="md-raised   groupX middle" ng-click="execCommand($event,'underlie')"><u>S</u></md-button>
        <md-button class="md-raised  groupX middle" ng-click="link($event)"><i class="fa fa-link"></i></md-button>
        <md-button class="md-raised   groupX middle" ng-click="execCommand($event,'unlink')"><i class="fa fa-unlink"></i></md-button>
        <md-button class="md-raised  groupX right" ng-click="image($event)"><i class="fa fa-image"></i></md-button>
    </div>
    <div>
        <md-select ng-model="fontFamily" class="no-margin" ng-change="execCommand($event,'fontName',fontFamily)">
            <md-option value="Arial">Arial</md-option>
            <md-option value="Arial Black">Arial Black</md-option>
            <md-option value="Book Antigua">Book Antigua</md-option>
            <md-option value="Comic Sans MS">Comic Sans MS</md-option>
            <md-option value="Courier New">Courier New</md-option>
            <md-option value="Georgia">Georgia</md-option>
            <md-option value="Helvetica">Helvetica</md-option>
            <md-option value="Impact">Impact</md-option>
            <md-option value="Lucida Console">Lucida Console</md-option>
            <md-option value="Tahoma">Tahoma</md-option>
            <md-option value="Times New Roman">TImes New Roman</md-option>
        </md-select>
        <md-select ng-model="fontSize" class="no-margin" ng-click="execCommand($event,'fontSize',fontSize)">
            <md-option value="1">1</md-option> 
            <md-option value="2">2</md-option>   
            <md-option value="3">3</md-option>   
            <md-option value="4">4</md-option>   
            <md-option value="5">5</md-option>   
            <md-option value="6">6</md-option>   
            <md-option value="7">7</md-option>   
        </md-select>
    </div>
</div>
<iframe class="text-iframe"></iframe>
<div style="display:none">
    <input type="file" accept="image/*" id="fileInput"/>
<div class="md-dialog-container" id="imageDialog">
    <md-dialog class="md-padding">
        <md-dialog-content class="md-padding">
            <h2>¿Donde se encuentra la imágen?</h2>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-file-image-o"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><i class="fa fa-caret-down" ng-click="shownImageAction = 1"></i> En mi ordenador</span> 
                    </md-card-header-text>
                </md-card-header>
                <md-card-actions ng-show="shownImageAction == 1">
                    <md-button md-colors="{background:'primary'}" ng-click="openFileDialog()">Buscar</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-globe"></i>
                    </md-card-avatar>
                    <md-card-header-text >
                        <span class="md-title"><i class="fa fa-caret-down" ng-click="shownImageAction = 2"></i> En una dirección web</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-actions ng-show="shownImageAction == 2">
                    <md-input-container>
                        <label>Dirección</label>
                        <input type="url" ng-model="url"/>
                    </md-input-container>
                    <md-button md-colors="{background:'primary'}" ng-click="insertImage(url)">Añadir</md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <i class="fa fa-database"></i>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><i class="fa fa-caret-down" ng-click="shownImageAction = 3"></i> Imagen con texto</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-actions ng-show="shownImageAction == 3" layout="column">
                    <md-select ng-model="selectedTextImage">
                        <md-option ng-repeat="textImage in textImages" value="{{textImage.Id}}">{{textImage.Name}}</md-option>
                    </md-select>
                    <md-button class="md-primary md-raised" style="align-self:flex-start" ng-click="addTextImage()">Añadir</md-button>
                </md-card-actions>
            </md-card>
        <md-dialog-actions>
            <md-button ng-click="closeDialog()" md-colors="{background:'primary'}">Cerrar</md-button>
        </md-dialog-actions>
    </md-dialog>
</div>
</div>