<table class="meraki-grid">
    <colgroup>
        <col style="width:88px" />
        <col ng-repeat="col in mpg.cols" ng-style="{width:col.width}"/>
    </colgroup>
    <thead >
        <tr>
            <th><md-button class="md-raised md-fab md-mini" ng-click="showInsertDialog()"><i class="fa fa-plus"></i></md-button></th>
        </tr>
        <tr md-colors="{'background-color':'primary'}">
            <th ng-repeat="col in mpg.cols">
                <span class="meraki-grid-header">
                <span><i class="fa fa" ng-class="'fa-fa-caret'+orderDirection" ng-show="orderIndex == $index"></i>&nbsp;</span> 
                    {{col.title || col.name}} 
                    <i class="fa fa-filter" ng-click="showFilter(col)"></i>
                </span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in rows">
            <td  ng-repeat="col in mpg.cols" >
                <div class="meraki-grid-cell" data-title="{{col.title || col.name}}"><div class="meraki-grid-cell-content" ng-include="col.templateUrl"></div></div>
            </td>
            <td>
                <md-button class="md-default md-raised md-fab md-mini" ng-click="showEditDialog(row,$index)"><i class="fa fa-pencil"></i></md-button>
                <md-button class="md-default md-raised md-fab md-mini"><i class="fa fa-trash"></i></md-button>
            </td>
        </tr>
    </tbody>
    <tfoot md-colors="{'background-color':'primary'}">
        <tr>
            <td colspan="999">
                <div layout="row" layout-align="space-between center">
                    <span layout="row" layout-align="start center">
                        <label>Tamaño de página</label>
                        <md-input-container>
                            <md-select ng-model="pageSize">
                                <md-option value="0">Todos</md-option>
                                <md-option ng-repeat="p in mpg.pageSizes" value="{{p}}">{{p}}</md-option>
                            </md-select>
                        </md-input-container>
                    </span>
                    <span>
                        <md-button class="md-default md-raised md-fab md-mini"><i class="fa fa-fast-backward"></i></md-button>
                        <md-button class="md-default md-raised md-fab md-mini"><i class="fa fa-caret-left"></i></md-button>
                        <md-button class="md-default md-fab md-mini meraki-page-button" ng-class="page == p.number?'':'md-raised'" ng-disabled="p.disabled" ng-repeat="p in pageButtons" ng-click="setPage(p.number)">{{p.number}}</md-button>
                        <md-button class="md-default md-fab md-mini md-raised"><i class="fa fa-caret-right"></i></md-button>
                        <md-button class="md-default md-raised md-fab md-mini"><i class="fa fa-fast-forward"></i></md-button>
                    </span>
                    <span>De {{from}} a {{to}} de {{total}} <md-button class="md-default md-fab md-mini md-raised"><i class="fa fa-refresh"></i></md-button></span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>